<div class="wrapper">
    <audio src="../../assets/star-wars-theme-song.mp3"
           autoplay=true></audio>
    <section class="star-wars">

        <div class="crawl">

            <div class="title">
                <h1>Congratulations! you now own a {{this.cat.CatName}}</h1>
                <img src="{{this.cat.imageUrl}}"
                     style="width: 50%; border: solid 4px #feda4a;">
            </div>

            <p>It will be delivered in 3-5 working light years to adress:

            </p>
        </div>

    </section>
</div>