<div>
  <div class="background-container">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="">
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
    <img id="bestcat" src="../../assets/images/spacecat6.jpg" alt="" width="0px" height="50px" (click)='onPurchase()'>
    <img id="cat" src="../../assets/images/logo.png" alt="logo" width="50px" height="50px">
    <img id="btn" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIjsiq3m8yc4yxt5PxPdpx7AQ9ykZ-gfklyaTlLeLMV5qgshZw" alt="logo" width="30px" height="20px" (click)='onEnter()'>
    <div class="text-end">Developed by:</div>
    <div class="text-end">
      <h3>Space Cat Squad</h3>
    </div>
  </div>
  


